---
---

<div class="bg-primary">
  <div
    class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8"
  >
    <h2 class="text-3xl font-bold tracking-tight text-primary sm:text-4xl">
      Ready to dive in?<br />Contact me or book a call.
    </h2>
    <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0">
      <a href="/contact" class="btn btn-primary">Reach out</a>
      <a href="/about" class="text-sm font-semibold leading-6 text-primary"
        >Learn more <span aria-hidden="true">→</span></a
      >
    </div>
  </div>
</div>
