---
import Icon from "../Icon.tsx";
import { IconName } from "../Icon.tsx";
const services = [
  {
    title: "Software Development",
    subhead: "Web and native apps for startups and businesses, all tailored to your unique needs.",
    iconName:IconName.ARCHITECTURE,
  },
  {
    title: "Shopify Consulting",
    subhead: "Helping you optimize, customize, and grow your Shopify store.",
    iconName:IconName.MENTORING,
  },
  {
    title: "Fractional CTO & Technical Advisory",
    subhead: "Strategic leadership, technical roadmapping, mentoring, and team guidance.",
    iconName:IconName.CONSULTING, },
  {
    title: "Consulting & Technical Writing",
    subhead: "Problem-solving for specific projects, documentation, blog posts, and more.",
    iconName:IconName.WRITING,
  },
];
---

<div class="bg-primary py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-primary sm:text-4xl">
        How can I help?
      </h2>
      <p class="mt-6 text-lg leading-8 text-secondary">
        I'm currently building my own applications and offering my expertise and
        experience to others.
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      {
        services.map((service) => (
          <li class="hover:border-secondary border border-transparent dark:hover:shadow-gray-700 hover:shadow-xl transition-all hover:cursor-pointer p-4 rounded-xl">
            <Icon name={service.iconName} />
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-primary">
                {service.title}
              </h3>
              <p class="text-sm font-semibold leading-6 text-highlight">
                {service.subhead}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
