---
---

<div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-highlight">
        How can I help you?
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl"
      >
        I'll be your guide in your career
      </p>
      <p class="mt-6 text-lg leading-8 text-secondary">
        After nearly a decade as a software engineer, I have gained the
        experience necessary to help you. I have worked for massive enterprise
        companies all the way down to unfunded startups. Let me be your Gandalf
        through the Mines of Moria that are the software world.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-primary">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-highlight"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="w-6 h-6 text-white fill-current"
              >
                <g>
                  <rect height="19.9316" opacity="0" width="24.0749" x="0" y="0"
                  ></rect>
                  <path
                    d="M11.8568 0C7.0521 0 2.97007 3.50586 2.0814 8.07617L0.694677 8.07617C-0.00844799 8.07617-0.184229 8.55469 0.19663 9.10156L2.38413 12.207C2.7064 12.6562 3.17515 12.6465 3.48765 12.207L5.67515 9.0918C6.04624 8.55469 5.87046 8.07617 5.1771 8.07617L3.77085 8.07617C4.61069 4.38477 7.89194 1.66992 11.8568 1.66992C14.64 1.67969 17.0814 3.01758 18.5755 5.09766C18.8685 5.49805 19.3373 5.625 19.7376 5.37109C20.138 5.13672 20.2455 4.59961 19.9134 4.16992C18.058 1.67969 15.1478 0 11.8568 0ZM11.8568 19.9219C16.6615 19.9219 20.7435 16.4062 21.6322 11.8457L23.0091 11.8457C23.7123 11.8457 23.8978 11.3672 23.5072 10.8203L21.3294 7.71484C21.0072 7.26562 20.5384 7.27539 20.2259 7.71484L18.0384 10.8301C17.6576 11.3672 17.8431 11.8457 18.5365 11.8457L19.9525 11.8457C19.1029 15.5273 15.8119 18.2617 11.8568 18.2617C9.07358 18.252 6.63218 16.9043 5.13804 14.8242C4.8353 14.4238 4.37632 14.2969 3.96616 14.541C3.57554 14.7852 3.46811 15.3223 3.80015 15.752C5.65561 18.2422 8.56577 19.9219 11.8568 19.9219Z"
                  ></path>
                  <path
                    d="M11.4857 4.23828C11.056 4.23828 10.7044 4.58008 10.7044 5.00977L10.7044 10.459C10.7044 10.6836 10.7728 10.8789 10.9388 11.0938L13.3509 14.2773C13.6732 14.6973 14.1224 14.7656 14.5228 14.4922C14.8841 14.2383 14.9134 13.7793 14.6205 13.3789L11.3685 8.99414L12.2572 11.7285L12.2572 5.00977C12.2572 4.58008 11.9154 4.23828 11.4857 4.23828Z"
                  ></path>
                </g>
              </svg>
            </div>
            Years of experience
          </dt>
          <dd class="mt-2 text-base leading-7 text-secondary">
            With nearly a decade of professional experience, I have learned a
            few things.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-primary">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-highlight"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="w-6 h-6 text-white fill-current"
              >
                <g>
                  <rect height="19.0918" opacity="0" width="21.5137" x="0" y="0"
                  ></rect>
                  <path
                    d="M1.66992 18.3203L14.7656 18.3203C15.8105 18.3203 16.4355 17.832 16.4355 17.0215C16.4355 14.502 13.2812 11.0254 8.21289 11.0254C3.1543 11.0254 0 14.502 0 17.0215C0 17.832 0.625 18.3203 1.66992 18.3203ZM8.22266 9.27734C10.3125 9.27734 12.1289 7.40234 12.1289 4.96094C12.1289 2.54883 10.3125 0.761719 8.22266 0.761719C6.13281 0.761719 4.31641 2.58789 4.31641 4.98047C4.31641 7.40234 6.12305 9.27734 8.22266 9.27734Z"
                  ></path>
                  <path
                    d="M17.7441 7.02148C18.2324 7.02148 18.5254 6.70898 18.5254 6.31836C18.5254 6.28906 18.5254 6.24023 18.5254 6.20117C18.5254 5.6543 18.8477 5.3125 19.5312 4.86328C20.4785 4.23828 21.1523 3.66211 21.1523 2.5C21.1523 0.878906 19.707 0 18.0469 0C16.3672 0 15.2637 0.800781 15 1.68945C14.9512 1.85547 14.9219 2.01172 14.9219 2.17773C14.9219 2.61719 15.2637 2.85156 15.5859 2.85156C15.918 2.85156 16.1328 2.69531 16.3086 2.46094L16.4844 2.22656C16.8262 1.65039 17.334 1.32812 17.9883 1.32812C18.877 1.32812 19.4531 1.83594 19.4531 2.57812C19.4531 3.24219 19.043 3.56445 18.1836 4.16016C17.4902 4.64844 16.9629 5.16602 16.9629 6.12305C16.9629 6.16211 16.9629 6.20117 16.9629 6.24023C16.9629 6.75781 17.2461 7.02148 17.7441 7.02148ZM17.7246 9.93164C18.2812 9.93164 18.7793 9.48242 18.7793 8.91602C18.7793 8.34961 18.291 7.90039 17.7246 7.90039C17.1484 7.90039 16.6699 8.35938 16.6699 8.91602C16.6699 9.47266 17.1582 9.93164 17.7246 9.93164Z"
                  ></path>
                </g>
              </svg>
            </div>
            Questions Answered
          </dt>
          <dd class="mt-2 text-base leading-7 text-secondary">
            You got questions, I have answers. And the ability to tell you when
            I don't know
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-primary">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-highlight"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="w-6 h-6 text-white fill-current"
              >
                <g>
                  <rect height="19.2676" opacity="0" width="19.4434" x="0" y="0"
                  ></rect>
                  <path
                    d="M0 7.79297C0 12.0898 3.49609 15.5859 7.79297 15.5859C9.49219 15.5859 11.0449 15.0391 12.3242 14.1211L17.1289 18.9355C17.3535 19.1602 17.6465 19.2676 17.959 19.2676C18.623 19.2676 19.082 18.7695 19.082 18.1152C19.082 17.8027 18.9648 17.5195 18.7598 17.3145L13.9844 12.5098C14.9902 11.2012 15.5859 9.57031 15.5859 7.79297C15.5859 3.49609 12.0898 0 7.79297 0C3.49609 0 0 3.49609 0 7.79297ZM1.66992 7.79297C1.66992 4.41406 4.41406 1.66992 7.79297 1.66992C11.1719 1.66992 13.916 4.41406 13.916 7.79297C13.916 11.1719 11.1719 13.916 7.79297 13.916C4.41406 13.916 1.66992 11.1719 1.66992 7.79297Z"
                  ></path>
                </g>
              </svg>
            </div>
            How to be An Engineer
          </dt>
          <dd class="mt-2 text-base leading-7 text-secondary">
            It's different than following endless tutorials
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-primary">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-highlight"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="w-6 h-6 text-white fill-current"
              >
                <g>
                  <rect height="24.2676" opacity="0" width="25.9277" x="0" y="0"
                  ></rect>
                  <path
                    d="M20.8984 8.68164C21.084 8.68164 21.2109 8.55469 21.2402 8.38867C21.6797 6.07422 21.6602 6.21094 23.8574 5.78125C24.0234 5.75195 24.1504 5.63477 24.1504 5.42969C24.1504 5.24414 24.0137 5.12695 23.8574 5.08789C21.6504 4.63867 21.6797 4.75586 21.2402 2.48047C21.2109 2.31445 21.084 2.1875 20.8984 2.1875C20.6934 2.1875 20.5762 2.30469 20.5469 2.48047C20.0977 4.77539 20.0293 4.66797 17.9492 5.08789C17.7832 5.12695 17.6562 5.24414 17.6562 5.42969C17.6562 5.63477 17.7734 5.75195 17.9492 5.78125C20.0293 6.19141 20.0977 6.08398 20.5469 8.38867C20.5762 8.56445 20.6934 8.68164 20.8984 8.68164ZM10.8008 24.2676C10.957 24.2676 11.0547 24.1602 11.084 24.0137C11.4648 22.207 11.4648 22.207 13.252 21.8457C13.3984 21.8164 13.5059 21.7188 13.5059 21.5527C13.5059 21.3965 13.3984 21.2891 13.252 21.2695C11.4648 20.8984 11.4648 20.8984 11.084 19.1016C11.0547 18.9551 10.957 18.8477 10.8008 18.8477C10.6348 18.8477 10.5371 18.9551 10.5078 19.1016C10.1367 20.8984 10.1367 20.8984 8.34961 21.2695C8.19336 21.2891 8.08594 21.3965 8.08594 21.5527C8.08594 21.7188 8.19336 21.8164 8.34961 21.8457C10.1367 22.207 10.1367 22.2168 10.5078 24.0137C10.5371 24.1602 10.6348 24.2676 10.8008 24.2676ZM5.72266 21.0938C5.85938 21.0938 5.9375 21.0156 5.95703 20.8887C6.25977 19.4141 6.25977 19.4141 7.72461 19.1211C7.85156 19.0918 7.93945 19.0234 7.93945 18.877C7.93945 18.7402 7.85156 18.6523 7.72461 18.6328C6.25977 18.3398 6.25977 18.3398 5.95703 16.8652C5.9375 16.7383 5.85938 16.6602 5.72266 16.6602C5.57617 16.6602 5.49805 16.7383 5.47852 16.8652C5.17578 18.3398 5.17578 18.3398 3.71094 18.6328C3.58398 18.6523 3.49609 18.7402 3.49609 18.877C3.49609 19.0234 3.58398 19.0918 3.71094 19.1211C5.17578 19.4141 5.17578 19.4141 5.47852 20.8887C5.49805 21.0156 5.57617 21.0938 5.72266 21.0938Z"
                  ></path>
                  <path
                    d="M20.0293 20.2637C20.3418 20.2637 20.5957 20.0195 20.5957 19.707L20.5957 18.2031L21.3867 18.9844C21.6113 19.209 21.9531 19.2188 22.168 18.9844C22.4121 18.7695 22.4121 18.4277 22.168 18.1934L21.3965 17.4121L22.8906 17.4121C23.2031 17.4121 23.457 17.1582 23.457 16.8457C23.457 16.5332 23.2031 16.2891 22.8906 16.2891L21.3867 16.2891L22.1777 15.498C22.4023 15.2734 22.4023 14.9316 22.1777 14.707C21.9531 14.4824 21.6113 14.4727 21.3867 14.707L20.5957 15.4883L20.5957 13.9941C20.5957 13.6816 20.3418 13.4277 20.0293 13.4277C19.7168 13.4277 19.4727 13.6816 19.4727 13.9941L19.4727 15.4883L18.6914 14.707C18.4668 14.4824 18.1152 14.4824 17.8906 14.707C17.6562 14.9316 17.6562 15.2734 17.8809 15.498L18.6719 16.2891L17.168 16.2891C16.8652 16.2891 16.6211 16.5332 16.6211 16.8457C16.6211 17.1582 16.8652 17.4121 17.168 17.4121L18.6719 17.4121L17.8906 18.1934C17.6562 18.4277 17.6562 18.7695 17.8906 18.9844C18.1152 19.2188 18.457 19.2188 18.6914 18.9844L19.4727 18.2031L19.4727 19.707C19.4727 20.0195 19.7168 20.2637 20.0293 20.2637ZM20.0391 12.8125C20.4492 12.8125 20.7715 12.4805 20.7715 12.0605C20.7715 11.6504 20.4492 11.3184 20.0391 11.3184C19.6191 11.3184 19.2969 11.6504 19.2969 12.0605C19.2969 12.4805 19.6191 12.8125 20.0391 12.8125ZM23.2812 14.2773C23.6621 14.2773 23.9746 13.9746 23.9746 13.584C23.9746 13.2031 23.6621 12.9004 23.2812 12.9004C22.9004 12.9004 22.5977 13.2031 22.5977 13.584C22.5977 13.9746 22.9004 14.2773 23.2812 14.2773ZM24.8242 17.5879C25.2344 17.5879 25.5664 17.2559 25.5664 16.8457C25.5664 16.4355 25.2344 16.1133 24.8242 16.1133C24.4043 16.1133 24.082 16.4355 24.082 16.8457C24.082 17.2559 24.4043 17.5879 24.8242 17.5879ZM23.2812 20.8008C23.6621 20.8008 23.9746 20.4883 23.9746 20.1172C23.9746 19.7266 23.6621 19.4238 23.2812 19.4238C22.9004 19.4238 22.5977 19.7266 22.5977 20.1172C22.5977 20.4883 22.9004 20.8008 23.2812 20.8008ZM20.0391 22.373C20.4492 22.373 20.7715 22.0508 20.7715 21.6406C20.7715 21.2207 20.4492 20.8887 20.0391 20.8887C19.6191 20.8887 19.2969 21.2207 19.2969 21.6406C19.2969 22.0508 19.6191 22.373 20.0391 22.373ZM16.7871 20.791C17.168 20.791 17.4707 20.4883 17.4707 20.1172C17.4707 19.7266 17.168 19.4238 16.7871 19.4238C16.4062 19.4238 16.0938 19.7266 16.0938 20.1172C16.0938 20.4883 16.4062 20.791 16.7871 20.791ZM15.2441 17.5879C15.6641 17.5879 15.9961 17.2559 15.9863 16.8457C15.9961 16.4355 15.6641 16.1133 15.2441 16.1133C14.834 16.1133 14.5117 16.4355 14.5117 16.8457C14.5117 17.2559 14.834 17.5879 15.2441 17.5879ZM16.7871 14.2773C17.168 14.2773 17.4707 13.9746 17.4707 13.584C17.4707 13.2031 17.168 12.9004 16.7871 12.9004C16.4062 12.9004 16.0938 13.2031 16.0938 13.584C16.0938 13.9746 16.4062 14.2773 16.7871 14.2773Z"
                  ></path>
                  <path
                    d="M7.70508 10.7129C8.02734 10.7129 8.29102 10.4688 8.29102 10.1367L8.28125 9.04297L9.0625 9.82422C9.27734 10.0586 9.6582 10.0586 9.89258 9.82422C10.1074 9.59961 10.1172 9.21875 9.89258 8.99414L9.10156 8.23242L10.1953 8.23242C10.5176 8.23242 10.7812 7.96875 10.7812 7.64648C10.7812 7.32422 10.5176 7.07031 10.1953 7.07031L9.10156 7.07031L9.88281 6.30859C10.1172 6.07422 10.1074 5.70312 9.88281 5.46875C9.64844 5.25391 9.27734 5.23438 9.04297 5.46875L8.29102 6.24023L8.28125 5.16602C8.28125 4.82422 8.03711 4.58008 7.69531 4.58008C7.38281 4.58008 7.11914 4.82422 7.11914 5.16602L7.12891 6.24023L6.35742 5.46875C6.12305 5.24414 5.76172 5.24414 5.51758 5.46875C5.30273 5.69336 5.29297 6.08398 5.51758 6.30859L6.30859 7.07031L5.21484 7.07031C4.89258 7.07031 4.62891 7.32422 4.62891 7.64648C4.62891 7.96875 4.89258 8.23242 5.21484 8.23242L6.30859 8.23242L5.52734 8.99414C5.29297 9.22852 5.30273 9.58984 5.52734 9.82422C5.75195 10.0488 6.12305 10.0684 6.35742 9.82422L7.11914 9.04297L7.12891 10.1367C7.12891 10.4688 7.37305 10.7129 7.70508 10.7129ZM7.71484 3.42773C8.06641 3.42773 8.34961 3.13477 8.34961 2.7832L8.34961 0.644531C8.34961 0.292969 8.06641 0.00976562 7.71484 0.00976562C7.36328 0.00976562 7.07031 0.292969 7.07031 0.644531L7.07031 2.7832C7.07031 3.13477 7.36328 3.42773 7.71484 3.42773ZM9.85352 3.99414C10.166 4.17969 10.5469 4.07227 10.7324 3.75977L11.8066 1.92383C11.9824 1.61133 11.8652 1.2207 11.5723 1.04492C11.2598 0.859375 10.8789 0.966797 10.6934 1.2793L9.61914 3.125C9.44336 3.42773 9.56055 3.82812 9.85352 3.99414ZM11.4258 5.56641C11.6113 5.87891 12.002 5.9668 12.3047 5.80078L14.1504 4.73633C14.4531 4.57031 14.5605 4.16992 14.3848 3.86719C14.209 3.55469 13.8184 3.45703 13.5156 3.63281L11.6602 4.69727C11.3672 4.86328 11.25 5.27344 11.4258 5.56641ZM12.002 7.71484C12.002 8.07617 12.2949 8.34961 12.6367 8.34961L14.7754 8.35938C15.127 8.35938 15.4297 8.06641 15.4297 7.72461C15.4297 7.36328 15.127 7.08008 14.7852 7.08008L12.6367 7.07031C12.2949 7.07031 12.002 7.37305 12.002 7.71484ZM11.4258 9.85352C11.25 10.1758 11.377 10.5566 11.6602 10.7324L13.5059 11.8066C13.8184 11.9824 14.209 11.8652 14.3848 11.582C14.5605 11.2598 14.4434 10.8789 14.1504 10.7031L12.3047 9.61914C12.0117 9.45312 11.5918 9.56055 11.4258 9.85352ZM9.85352 11.4258C9.55078 11.6211 9.45312 12.0117 9.61914 12.3047L10.6836 14.1504C10.8594 14.4531 11.2695 14.5703 11.5723 14.3945C11.875 14.2188 11.9629 13.8281 11.7969 13.5254L10.7324 11.6602C10.5566 11.377 10.1562 11.25 9.85352 11.4258ZM7.71484 12.0117C7.36328 12.0117 7.07031 12.2949 7.07031 12.6465L7.07031 14.7852C7.07031 15.1367 7.36328 15.4199 7.71484 15.4199C8.06641 15.4199 8.34961 15.1367 8.34961 14.7852L8.34961 12.6465C8.34961 12.2949 8.06641 12.0117 7.71484 12.0117ZM5.56641 11.4355C5.25391 11.25 4.87305 11.3672 4.69727 11.6699L3.62305 13.5156C3.4375 13.8281 3.55469 14.2188 3.85742 14.3848C4.16992 14.5703 4.55078 14.4629 4.72656 14.1504L5.80078 12.3145C5.98633 12.002 5.86914 11.6016 5.56641 11.4355ZM3.99414 9.86328C3.81836 9.56055 3.41797 9.46289 3.125 9.62891L1.26953 10.6934C0.966797 10.8691 0.869141 11.2695 1.03516 11.5723C1.2207 11.875 1.61133 11.9727 1.91406 11.8066L3.75977 10.7422C4.0625 10.5664 4.16992 10.166 3.99414 9.86328ZM3.42773 7.72461C3.42773 7.35352 3.125 7.08008 2.7832 7.08008L0.654297 7.07031C0.292969 7.07031 0 7.37305 0 7.71484C0 8.07617 0.292969 8.34961 0.644531 8.34961L2.7832 8.35938C3.125 8.35938 3.42773 8.06641 3.42773 7.72461ZM3.99414 5.57617C4.16992 5.25391 4.05273 4.87305 3.75977 4.70703L1.92383 3.63281C1.61133 3.44727 1.2207 3.56445 1.03516 3.85742C0.869141 4.17969 0.976562 4.56055 1.26953 4.72656L3.125 5.81055C3.4082 5.97656 3.82812 5.87891 3.99414 5.57617ZM5.56641 4.00391C5.87891 3.81836 5.97656 3.41797 5.80078 3.13477L4.73633 1.2793C4.57031 0.976562 4.16016 0.859375 3.85742 1.03516C3.54492 1.2207 3.45703 1.61133 3.63281 1.91406L4.69727 3.76953C4.86328 4.0625 5.27344 4.17969 5.56641 4.00391Z"
                  ></path>
                </g>
              </svg>
            </div>
            How to build apps
          </dt>
          <dd class="mt-2 text-base leading-7 text-secondary">
            Get out of tutorial hell and build things
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
