---
import BaseLayout from "@/layouts/BaseLayout.astro";


---

<BaseLayout title="Beta Feedback | GymClock" description="Give feedback on the GymClock beta.">
  <main
    class="flex flex-col gap-4 align-middle items-center justify-center w-screen bg-background text-primary min-h-[var(--screen-height)]"
  >
      <div class="mt-32 mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-4xl flex flex-col items-center">
<h1 class="text-3xl font-bold tracking-tight sm:text-4xl text-center">
        GymClock Beta Feedback
      </h1>
<h4 class="my-8 text-center text-foreground-secondary">
        Thank you for helping make GymClock better! Feel free to provide feedback directly in the TestFlight app or by filling out the form below. If you have any media to upload, I will reach out via the email you provided to get that from you.
      </h4>
         <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScF9KTm_tgncaLC4gHzuK9a-0jyKKoYKeXfL4C3ffP8okqPYA/viewform?embedded=true" width="640" height="1380" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> 
      </div>
      
    </div>
  </main>
</BaseLayout>