---
import BaseLayout from "@/layouts/BaseLayout.astro";

---

<BaseLayout title="GymClock Beta" description="Announcing the beta release of GymClock, the ultimate workout timer for Apple TV.">
  <main class="mt-20 flex flex-col gap-4 align-middle items-center justify-center w-screen bg-background text-foreground min-h-[var(--screen-height)] p-8">
    <h1 class="text-4xl font-bold mb-4">GymClock Beta Released!</h1>
    <p class="text-lg mb-6 max-w-3xl text-center">
      I'm excited to announce that GymClock, my workout timer app for Apple TV, has officially launched its beta version! After months of development and testing, GymClock is ready for you to try out and provide feedback.
    </p>
    <p class="text-lg mb-6 max-w-3xl text-center">
      As this is a beta release, I would love to hear your thoughts and suggestions. Your feedback will be invaluable in helping me refine the app and add new features.
    </p>
    <!-- <a href="https://apps.apple.com/app/idYOUR_APP_ID" target="_blank" rel="noopener noreferrer" class="px-6 py-3 bg-highlight text-white rounded-lg hover:bg-highlight/90 transition">
      Download GymClock Beta on the App Store
    </a> -->
    <p class="text-sm text-muted-foreground mt-4 max-w-3xl text-center">
      Note: The beta version may contain bugs or incomplete features. Please report any issues you encounter to help improve the app.
    </p>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfjEuOJkkuNTztmAX-6d4hUzS82EBGOjcSMgqbnZrzDU0zxaA/viewform?embedded=true" width="640" height="876" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </main>
</BaseLayout>