---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/services/Hero.astro";


---

<BaseLayout title="Gym Clock" description="A simple web app to track your workouts and rest times.">
  <main>
     <Hero
      title="GymClock"
      description="A simple web app to track your workouts and rest times."
      primaryButtonText="See the Privacy Policy"
      primaryButtonHref="/apps/gym-clock/privacy-policy"
      secondaryButtonText="Provide Beta Feedback"
      secondaryButtonHref="/apps/gym-clock/beta-feedback"
      imageAlt="Screenshot of Gym Clock app"
      imageSrc=""
      pillText="GymClock is now in Beta!"
      pillLinkText="Join the Beta "
      pillHref="/apps/gym-clock/beta"
    /> 
  </main>
</BaseLayout>