---
import BaseLayout from "../../../layouts/BaseLayout.astro";


---

<BaseLayout title="Gym Clock" description="A simple web app to track your workouts and rest times.">
  <main
    class="flex flex-col gap-4 align-middle items-center justify-center w-screen bg-primary text-primary min-h-[var(--screen-height)]"
  >
    <div class="bg-primary py-4 sm:py-4">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
          <h2
            class="text-3xl font-bold tracking-tight sm:text-4xl"
          >
            Gym Clock
          </h2>
          <p class="mt-2 text-lg leading-8 text-secondary">
            A simple web app to track your workouts and rest times.
          </p>
          <div class="mt-4 space-y-20 lg:mt-8 lg:space-y-20">
            <p>Coming soon!</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>