---
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import BlogPreview from "../../components/BlogPreview.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = (await getCollection("blog"))
  .filter((post) => process.env.NODE_ENV === "development" || !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Images for the first 5 posts to prefetch
const prefetchImages = posts.slice(0, 5).map((post) => post.data.heroImage);
---

<BaseLayout title="Blog" description={SITE_DESCRIPTION} prefetchImages={prefetchImages}>
    <div class="min-w-full min-h-full bg-background py-24">
      <main
        class="flex flex-col gap-4 align-middle items-center justify-center w-screen max-w-[95vw] bg-background text-foreground min-h-(--screen-height)"
      >
        <div class="bg-background py-4 sm:py-4">
          <div class="w-full lg:px-8">
            <h2
              class="text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
            >
              Posts
            </h2>
            <!--<p class="mt-2 text-lg leading-8 text-gray-600 dark:text-gray-300">
              Learn how to grow your business with our expert advice.
            </p> -->
            <div class="mt-4 space-y-20 lg:mt-8 lg:space-y-20">
              {posts.map((post) => <BlogPreview post={post} />)}
            </div>
          </div>
        </div>
      </main>
    </div>
</BaseLayout>
