---
// import { ViewTransitions } from "astro:transitions";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
// import FormattedDate from "../../components/FormattedDate.astro";
// import me from "../../assets/me.png";
import BlogPreview from "../../components/BlogPreview.astro";

const posts = (await getCollection("blog"))
  .filter((post) => process.env.NODE_ENV === "development" || !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = `${SITE_TITLE} | Blog`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header client:load />
    <main
      class="flex flex-col gap-4 align-middle items-center justify-center w-screen max-w-[95vw] dark:bg-gray-900 dark:text-gray-50 min-h-[var(--screen-height)]"
    >
      <div class="bg-white dark:bg-gray-900 py-4 sm:py-4">
        <div class="w-full lg:px-8">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
          >
            Posts
          </h2>
          <!--<p class="mt-2 text-lg leading-8 text-gray-600 dark:text-gray-300">
              Learn how to grow your business with our expert advice.
            </p> -->
          <div class="mt-4 space-y-20 lg:mt-8 lg:space-y-20">
            {posts.map((post) => <BlogPreview post={post} />)}
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
