---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/services/golf/Hero.astro";
import Content from "../../components/services/golf/Content.astro";
import List from "../../components/services/golf/List.astro";
import CTA from "../../components/services/golf/CTA.astro";
---

<BaseLayout title="Golf" description="I want to help you!">
  <div class="bg-primary">
    <main class="isolate">
      <Hero />
      <List />
      <Content />
      <CTA />
    </main>
  </div>
</BaseLayout>
