---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Services"
  description="I can help you with a variety of services."
>
  <h1>Services</h1>
  <p>I can help you with a variety of services.</p>
</BaseLayout>
