---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Small Businesses"
  description="Small businesses are the backbone of our economy. We need to support them."
>
  <section class="prose prose-lg">
    <h1>Small Businesses</h1>
    <p>
      Small businesses are the backbone of our economy. We need to support them.
    </p>
  </section>
</BaseLayout>
