---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Writing"
  description="When you need strong technical writing"
>
  <h1>Writing</h1>
  <p>I can write whatever you need!</p>
</BaseLayout>
