/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --screen-height: calc(100vh - 136px);
}

body {
  margin: auto;
  /* padding: 20px;
  max-width: 65ch; */
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
a {
  color: #4f46e5;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 2px 2px 2px 20px;
  margin: 0px;
  font-style: italic;
}

body {
  @apply bg-primary text-primary;
}

@layer components {
  .bg-primary {
    @apply bg-[#f9f9f9] dark:bg-gray-900;
  }

  .bg-secondary {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  .text-primary {
    @apply text-gray-900 dark:text-white;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-invert {
    @apply text-[#f9f9f9] dark:text-gray-900;
  }

  .border-primary {
    @apply border-gray-900 dark:border-gray-200;
  }

  .border-secondary {
    @apply border-gray-900/10 dark:border-gray-200/10;
  }

  .outline-primary {
    @apply outline-gray-900 dark:outline-gray-200;
  }

  .btn {
    @apply font-semibold py-2 px-4 rounded-md;
  }

  .btn-primary {
    @apply bg-highlight hover:bg-highlight-lighten text-white font-semibold py-2 px-4 rounded-md active:bg-highlight-darken transition-colors duration-75;
  }

  .btn-outline {
    @apply border border-highlight text-highlight hover:bg-highlight hover:text-white font-semibold py-2 px-4 rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary transition-colors duration-75;
  }

  .btn-white {
    @apply bg-white font-semibold py-2 px-4 rounded-md text-sm text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white;
  }

  .pill-btn {
    @apply relative rounded-full px-3 py-1 text-sm leading-6 text-secondary ring-1 ring-gray-900/10 hover:ring-gray-900/20 dark:ring-gray-50/10 dark:hover:ring-gray-50/20;
  }
}
