---
import { Image } from "astro:assets";

import writing from "../../../assets/writing.jpg";
import PillButton from "../../PillButton.astro";
---

<div class="bg-primary">
  <div class="relative">
    <div class="mx-auto max-w-7xl">
      <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
        <svg
          class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-current lg:block text-invert"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          aria-hidden="true"
        >
          <polygon points="0,0 90,0 50,100 0,100"></polygon>
        </svg>

        <div class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
            <div class="hidden sm:mb-10 sm:flex">
              <PillButton />
            </div>
            <h1
              class="text-4xl font-bold tracking-tight text-primary sm:text-6xl"
            >
              Technical Writing that makes sense
            </h1>
            <p class="mt-6 text-lg leading-8 text-secondary">
              As an avid reader with a strong technical background, I have
              worked on my writing ability.
            </p>
            <div class="mt-10 flex items-center gap-x-6">
              <a
                href="/contact?subject=Consult&message=I%20would%20like%20to%20talk%20to%20you%20about%20consulting"
                class="btn btn-primary">Contact me</a
              >
              <a
                href="/about"
                class="text-sm font-semibold leading-6 text-primary"
                >More about me <span aria-hidden="true">→</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <Image
        class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full"
        src={writing}
        alt="writing background image"
        loading={'eager'}
      />
    </div>
  </div>
</div>
