---
import {  SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description={SITE_DESCRIPTION}>
    <div class="bg-primary min-h-[var(--screen-height)] md:pt-36 pt-24">
      <main
        class="grid min-h-full place-items-center bg-primary px-6 py-24 sm:py-32 lg:px-8"
      >
        <div class="text-center">
          <p class="text-base font-semibold text-highlight">404</p>
          <h1
            class="mt-4 text-3xl font-bold tracking-tight text-primary sm:text-5xl"
          >
            Page not found
          </h1>
          <p class="mt-6 text-base leading-7 text-secondary">
            Sorry, we couldn’t find the page you’re looking for.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/" class="btn btn-primary">Go back home</a>
            <a href="/contact" class="text-sm font-semibold text-primary"
              >Let me know of this error <span aria-hidden="true">&rarr;</span
              ></a
            >
          </div>
        </div>
      </main>
    </div>
</BaseLayout>