---
import Layout from "../layouts/BlogPost.astro";
import { Content } from "../content/general/about.md";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const title = `${SITE_TITLE} | About`;
---

<head>
  <BaseHead title={title} description={SITE_DESCRIPTION} />
</head>
<Header />
<div
  class="min-h-screen dark:bg-gray-900 dark:text-gray-50 pt-6 flex flex-row justify-center"
>
  <article
    class="prose text-left prose-lg max-w-4xl p-4 dark:prose-invert dark:prose-h1:text-gray-50 dark:prose-h2:text-gray-50 dark:prose-h3:text-gray-50 dark:bg-gray-900 dark:text-gray-50"
  >
    <Content />
  </article>
</div>
