---
import Layout from "../layouts/BlogPost.astro";
// import { CollectionEntry, getCollection } from "astro:content";

// export async function getStaticPaths() {
//   const about = await getCollection("about");
//   return about.map((about) => ({ params: { slug: about.slug }, props: about }));
// }
---

<Layout
  title="About Me"
  description="A software engineer with many other interests"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("May 27 2023")}
  heroImage="/placeholder-about.jpg"
>
  <p>
    Coming soon
  </p>
</Layout>
