---
export const prerender = true;
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = `${SITE_TITLE} | Contact`;
---

<BaseLayout title="Contact" description={SITE_DESCRIPTION}>
    <div
      class="w-screen bg-primary text-primary flex flex-col align-center pt-36 sm:pt-24"
    >
      <div class="bg-primary min-h-[var(--screen-height)]">
        <ContactForm />
      </div>
  </div>
</BaseLayout>