---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Header />
<div
  class="w-screen dark:bg-gray-900 dark:text-gray-50 min-h-screen flex flex-col align-center"
>
  <div
    class="border-2 border-red-900 bg-red-200 text-red-900 p-6 flex flex-row justify-center self-center align-middle w-full md:max-w-lg m-8 rounded-md"
  >
    <p>
      There seems to be issues with the form not actually getting all the way to
      me. Feel free to <a
        class="no-underline hover:underline text-red-800"
        href="mailto:jake@jakehayes.net">email me</a
      >.
    </p>
  </div>
  <div
    class="flex flex-row justify-center align-middle w-full dark:bg-gray-900 dark:text-gray-50"
  >
    <div
      class="flex flex-col w-[80vw] justify-center align-middle content-center lg:max-w-xl self-center grow-2 dark:bg-gray-900 dark:text-gray-50"
    >
      <h1 class="pb-1 text-3xl dark:text-gray-50">Contact me</h1>
      <form
        name="contact"
        method="POST"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        class="flex flex-col lg:max-w-700 gap-4 rounded-md justify-center align-middle max-w-full"
      >
        <div
          class="flex md:flex-row md:gap-1 justify-between w-full flex-col gap-4"
        >
          <input
            type="text"
            disabled
            name="name"
            placeholder="Your name"
            class="p-1 rounded-md rounded border border-gray-400 sm:w-full"
          />
          <input
            placeholder="Email"
            disabled
            type="email"
            name="email"
            class="p-1 rounded-md rounded border border-gray-400 sm:w-full"
          />
        </div>
        <input
          type="text"
          disabled
          name="subject"
          placeholder="Subject"
          class="p-1 rounded border border-gray-400 sm:w-full"
        />
        <textarea
          name="message"
          disabled
          placeholder="Message"
          class="p-1 rounded-md border border-gray-400"></textarea>
        <button
          type="submit"
          disabled
          class="p-1 rounded-md cursor-pointer bg-blue-700 hover:bg-blue-800 active:bg-blue-900 text-white md:max-w-25 disabled:bg-blue-400 disabled:cursor-not-allowed"
          >Send</button
        >
      </form>
    </div>
  </div>
</div>
<Footer />
