---
import ContactForm from "../components/ContactForm.jsx";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Header />
<div class="w-screen">
  <div class="flex flex-row justify-center align-middle w-full">
    <ContactForm client:only="react" />
  </div>
</div>
