---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
export const prerender = true;

const title = `${SITE_TITLE} | Contact`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header client:load />
    <div
      class="w-screen dark:bg-gray-900 dark:text-gray-50 flex flex-col align-center"
    >
      <div class="dark:bg-gray-900 min-h-[var(--screen-height)]">
        <ContactForm />
      </div>
      <Footer />
    </div>
  </body>
</html>
