---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";

import PortfolioLinks from "../components/links/PortfolioLinks.astro";
import GeneralLinks from "../components/links/GeneralLinks.astro";
import SellingLinks from "../components/links/SellingLinks.astro";

const title = `${SITE_TITLE} | Links`;

// General website, twitter (x?), stashtag.app, letterboxd, redbubble, gumroad, amazon (once I have things to sell on there)
---

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header client:load />
    <div
      class="flex flex-col w-screen overflow-y-auto items-center min-h-[var(--screen-height)] dark:bg-gray-900 dark:text-gray-200 pt-8"
    >
      <div class="my-8">
        <h2 class="text-2xl font-bold pb-2 text-gray-950 dark:text-gray-50">
          General Links
        </h2>
        <h6 class="text-sm text-gray-500 dark:text-gray-400 pb-2">
          <em>These are links to my profiles on other websites</em>
        </h6>
        <GeneralLinks />
      </div>
      <div class="my-8">
        <h2 class="text-2xl font-bold pb-2 text-gray-950 dark:text-gray-50">
          Things I've made
        </h2>
        <h6 class="text-sm text-gray-500 dark:text-gray-400 pb-2">
          <em>Hopefully this list grows soon</em>
        </h6>
        <PortfolioLinks />
      </div>
      <div class="my-8">
        <h2 class="text-2xl font-bold pb-2 text-gray-950 dark:text-gray-50">
          Buy some stuff
        </h2>
        <h6 class="text-sm text-gray-500 dark:text-gray-400 pb-2">
          <em>Or not, but here are some options</em>
        </h6>
        <SellingLinks />
      </div>
    </div>
    <Footer />
  </body>
</html>
