---
import { SITE_DESCRIPTION } from "../consts";
import { Content as ResumeContent } from "../content/general/resume.md";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Resume" description={SITE_DESCRIPTION}>
    <div
      class="flex flex-row w-screen justify-center content-start bg-background md:pt-36 pt-24"
    >
      <article
        class="prose prose-md prose-h1:underline self-center max-w-4xl p-4 text-foreground prose-h1:text-foreground prose-h2:text-foreground prose-h3:text-foreground bg-background prose-a:text-foreground prose-a:underline prose-blockquote:text-foreground prose-code:text-secondary-foreground prose-headings:text-foreground prose-figure:text-foreground prose-figcaption:text-foreground prose-em:text-foreground prose-table:text-foreground prose-b:text-foreground"
      >
        <ResumeContent />
      </article>
    </div>
</BaseLayout>