---
import { SITE_DESCRIPTION } from "../consts";
import { Content as ResumeContent } from "../content/general/resume.md";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Resume" description={SITE_DESCRIPTION}>
    <div
      class="flex flex-row w-screen justify-center content-start dark:bg-gray-900 md:pt-36 pt-24"
    >
      <article
        class="prose prose-md prose-h1:underline dark:prose-invert self-center max-w-4xl p-4 dark:bg-gray-900 dark:text-gray-50"
      >
        <ResumeContent />
      </article>
    </div>
</BaseLayout>