---
import { SITE_DESCRIPTION } from "../consts";
import { Content as ResumeContent } from "../content/general/resume.md";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Resume" description={SITE_DESCRIPTION}>
    <div
      class="flex flex-row w-screen justify-center content-start bg-background md:pt-36 pt-24"
    >
      <article
        class="prose prose-md prose-h1:underline  self-center max-w-4xl p-4 bg-background text-foreground"
      >
        <ResumeContent />
      </article>
    </div>
</BaseLayout>