---
import { RadioGroup } from "@headlessui/react";
import { CheckCircleIcon } from "@heroicons/react/20/solid";

const options = [
  { id: 1, title: "Blog", description: "Cheout my latest posts", url: "/blog" },
  {
    id: 2,
    title: "Services",
    description: "I freelance, can I help you?",
    url: "/services",
  },
  {
    id: 3,
    title: "Resume",
    description: "Want a more professional looking resume?",
    url: "/resume",
  },
];
---

<fieldset class="bg-secondary px-4 py-8 md:px-12">
  <legend class="text-base font-semibold pt-12 leading-6 text-primary"
    >More pages about me</legend
  >

  <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-4">
    <!-- Active: "border-indigo-600 ring-2 ring-indigo-600", Not Active: "border-gray-300" -->
    {
      options.map((option) => (
        <a
          href={option.url}
          class="relative flex cursor-pointer rounded-lg border bg-primary p-4 shadow-sm focus:outline-none"
        >
          <span class="flex flex-1">
            <span class="flex flex-col">
              <span
                id="project-type-0-label"
                class="block text-sm font-medium text-primary"
              >
                {option.title}
              </span>
              <span
                id="project-type-0-description-0"
                class="mt-1 flex items-center text-sm text-secondary"
              >
                {option.description}
              </span>
            </span>
          </span>
          <span
            class="pointer-events-none absolute -inset-px rounded-lg border-2"
            aria-hidden="true"
          />
        </a>
      ))
    }
  </div>
</fieldset>
