---
import { getCollection } from "astro:content";
import BlogPostCard from "./BlogPostCard.astro";

const posts = (await getCollection("blog"))
  .filter((post) => process.env.NODE_ENV === "development" || !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const recentPosts = posts.slice(0, 3);
---

<section>
  <div class="bg-primary py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-primary sm:text-4xl">
          From the blog
        </h2>
        <p class="mt-2 text-lg leading-8 text-secondary">
          I like to share things I learn, and I write about them here.
        </p>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {recentPosts.map((post) => <BlogPostCard post={post} />)}
      </div>
    </div>
  </div>
</section>
