<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a class="hover:text-primary" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/hello-jakehayes?hide_landing_page_details=1&hide_gdpr_banner=1&text_color=000000&primary_color=4f46e5'});return false;">Schedule time with me</a>
<!-- Calendly link widget end -->