---
const { text = '' } = Astro.props;
---
<div class="flex items-center py-4 sm:py-1">
  <div aria-hidden="true" class="w-full border-t border-gray-300 dark:border-white/15"></div>
  {text.length > 0 && (
    <div class="relative flex justify-center">
        <span class="bg-background px-2 text-sm text-secondary-foreground ">{text}</span>
    </div>
    )
  }
  <div aria-hidden="true" class="w-full border-t border-gray-300 dark:border-white/15"></div>
</div>
