---
const today = new Date();
---

<footer
  class="py-6 overflow-hidden flex flex-row justify-center dark:bg-gray-900 dark:text-gray-50"
>
  <p>
    &copy; {today.getFullYear()} Jake Hayes. All rights reserved. Made with&nbsp;<a
      class="text-gray-900 dark:text-gray-50 underline"
      href="https://astro.build">Astro</a
    >.
  </p>
</footer>
