---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Jake Hayes. All rights reserved.
  Made with <a href="https://astro.build">Astro</a>.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
