---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import JH from "../assets/JH.png";

const menuLinks = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
  { href: "/services", text: "Services" },
  { href: "/about", text: "About" },
];
---

<div class="flex flex-col">
  <header
    class="fixed top-4 left-1/2 -translate-x-1/2 z-50 flex items-center justify-between p-4 py-1 rounded-full shadow-lg bg-secondary w-[95vw] max-w-4xl transition-all duration-300"
  >
    <a href="/" class="flex pl-2 lg:pl-8 items-center">
      <Image class="w-12 h-12 mr-4" src={JH} alt="Icon" loading="eager" />
    </a>

    <nav class="hidden lg:flex items-center space-x-6">
      <ul class="flex space-x-6 text-primary">
        {
          menuLinks.map((link) => (
            <HeaderLink href={link.href}>{link.text}</HeaderLink>
          ))
        }
        <li class="mt-4">
          <a href="/contact" class="btn btn-primary">Contact me</a>
        </li>
      </ul>
    </nav>

    <button data-mobile-menu-btn class="lg:hidden pr-2 block"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer md:hidden block"
        id="lines"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 cursor-pointer md:hidden hidden"
        id="close"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </header>
</div>
