---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    "p-4 md:flex md:justify-between decoration-none md:mx-4 text-gray-900 hover:bg-gray-100 rounded hover:drop-shadow-md",
  ]}
  {...props}
>
  <slot />
</a>
<style>
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
