---
import type { HTMLAttributes } from "astro/types";
import { Button } from "@/components/ui/button";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<Button variant="ghost" className="h-auto">
  <a
    href={href}
    class:list={[
      className,
      { active: isActive },
      "px-4 py-2 decoration-none",
    ]}
    {...props}
  >
    <slot />
  </a>
  <style>
    a.active {
      font-weight: bolder;
      text-decoration: underline;
    }
  </style>
</Button>
