---
---

<div class="pill-btn">
  This is one of many different services I offer. <a
    href="/services"
    class="whitespace-nowrap font-semibold text-highlight transition-all ease-in-out hover:translate-x-2"
    ><span class="absolute inset-0" aria-hidden="true"></span>See more <span
      aria-hidden="true">&rarr;</span
    ></a
  >
</div>
