---
const {
  pillText = "This is one of many different services I offer. ",
  pillLinkText = "See more ",
  pillHref = "/services",
} = Astro.props;
---

<div
  class="border border-border pl-2 pr-4 py-1 text-sm text-muted-foreground rounded-full gap-2 flex justify-start items-center"
>
  {pillText}<a
    href={pillHref}
    class="whitespace-nowrap font-semibold text-highlight"
    ><span class="absolute inset-0" aria-hidden="true"></span>{
      pillLinkText
    }<span aria-hidden="true">&rarr;</span></a
  >
</div>
