---
import BlogPostCard from "./BlogPostCard.astro";
import type { BlogPost } from "../content/config";

export interface Props {
  relatedPosts: BlogPost[];
}

const { relatedPosts } = Astro.props;
---

<section>
  <div class="bg-background py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h4
          class="text-xl font-bold tracking-tight text-foreground sm:text-4xl"
        >
          Related Posts
        </h4>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {relatedPosts.map((post: BlogPost) => <BlogPostCard post={post} />)}
      </div>
    </div>
  </div>
  <hr />
</section>
