---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HeaderFloating from "../components/HeaderFloating.astro";

const { title, description, prefetchImages = [] } = Astro.props;
---

<head>
  <BaseHead
    title={`${title} | Jake Hayes`}
    description={description}
    prefetchImages={prefetchImages}
  />
</head>
<body class="bg-background min-h-screen">
  <HeaderFloating />
  <slot />
  <Footer />
</body>
